.game-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 33.333%;
    height: 130px;
    border: 1px solid #282c35;
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;
}

.game-cell.game-cell_winner.game-cell_O {
    background-color: var(--background_O);
}

.game-cell.game-cell_winner.game-cell_X {
    background-color: var(--background_X);
}

.game-cell.game-cell_winner.game-cell_O {
    background-color: var(--background_O);
}

.game-cell.game-cell_winner.game-cell_X {
    background-color: var(--background_X);
}
