.winner-name {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 14px;
}

.winner-name span {
    color: #0d9488;
}

.players-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 17px;
    margin-bottom: 24px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 2px 4px -2px rgb(255, 255, 255, 0.1),
        0 4px 6px -1px rgb(255, 255, 255, 0.1);
}
