.game-cell {
    font-size: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid #e2e8f0;
    border: 1px solid black;
    margin-left: -1px;
    margin-top: -1px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.game-cell_winner {
    background-color: coral;
}
