@import url("../../assets/styles/variables.css");

.app,
.game {
    width: 100%;
    height: 100%;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    width: 400px;
    height: 400px;
}

.game-fild {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border: 1px solid var(--primary-color);
}

.game_started {
}

.game_disabled > span {
    background-color: var(--primary-background_light);
    cursor: default;
}
