.game__container {
    width: 400px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    background-color: #282c35;
}

.game-field {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border: 1px solid var(--primary-color);
}

.game_disabled > span {
    background-color: var(--primary-background_light);
    cursor: default;
}
