.game__container {
    width: 400px;
}

.game-field {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border: 1px solid #282c35;
}

.game_disabled > span {
    background-color: var(--primary-background_light);
    cursor: default;
}
