@import url("../../assets/styles/variables.css");

.game-info {
    text-align: center;
}

.game-step,
.game-result {
    padding: 10px;
}

.game-step {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: #fff;
}

.game-result-winner_O {
    background-color: var(--background_O);
}

.game-result-winner_X {
    background-color: var(--background_X);
}

.game-result span {
    display: flex;
    align-items: center;
}

.game-result .symbol,
.game-step .symbol {
    margin-left: 5px;
}

.game-restart {
    padding: 10px;
    border: 1px solid;
    font-family: inherit;
    background-color: var(--primary-background);
    color: #fff;
    cursor: pointer;
    border: none;
}

.game-result-winner_O .game-restart {
    background-color: var(--color_O);
}

.game-result-winner_X .game-restart {
    background-color: var(--color_X);
}
