.game-info {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 32px;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 2px 4px -2px rgb(255, 255, 255, 0.1),
        0 4px 6px -1px rgb(255, 255, 255, 0.1);
}

.container-margins {
    margin-top: 17px;
    margin-bottom: 24px;
}
