:root {
    --primary-color: #8d8b8b;
    --primary-background: #4e4e4e;
    --primary-background_light: #e0dcdc;

    --color_O: #0a9822;
    --background_O: #92be99;
    --color_X: #a31b34;
    --background_X: #aa6975;
}
